.new-food-item {
  padding: 10px;
}

.food-category {
  width: 50%;
  margin: 0 10px;
  text-align: center;
}

.measurement {
  width: 30%;
  margin-left: 3%;
  text-align: center;
}

.food-name {
  width: 100%;
  display: block;
}

.food-composition {
  width: 25%;
  margin: 0 10px;
  text-align: center;
}

.calories {
  width: 40%;
  margin: 0 10px;
  text-align: center;
}

.mat-calories {
  width: 40%;
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  padding: 0px;
  vertical-align: top;
}

.mat-calories > .mat-card-content {
  margin-bottom: 2px;
}

.emphasis {
  font: bold;
  font-size: 16px;
  color: black;
  text-decoration-line: underline;
}
