<section class="new-food-item" fxLayout fxLayoutAlign="center">
    <form #f="ngForm">
      <mat-card fxFlex.xs="100%" fxFlex="500px">
        <mat-card-title fxLayoutAlign="center">Food Database</mat-card-title>
        <div fxLayoutAlign="center">
          <mat-card-subtitle [ngClass]="{'emphasis' : !toggle.checked}" fxFlexAlign="end">Add food to database</mat-card-subtitle>
          <mat-slide-toggle
            fxFlexAlign="baseline" style="padding: 0px 30px 10px;"
            #toggle>
          </mat-slide-toggle>
          <mat-card-subtitle [ngClass]="{'emphasis' : toggle.checked}" fxFlexAlign="end">Edit/Delete food</mat-card-subtitle>
        </div>
        <mat-card-content>

          <mat-form-field class="food-name" *ngIf="!toggle.checked">
            <mat-label>New name</mat-label>
            <input matInput ngModel type="text" name="name" [required]="nameFoodItemInput.touched" #nameFoodItemInput="ngModel">
            <mat-error *ngIf="nameFoodItemInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="food-name" *ngIf="toggle.checked">
            <mat-label>Pick food name</mat-label>
            <input matInput type="text" name="filter"
            [required]="filterControl.touched"
            [formControl]="filterControl"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)" [displayWith]="displayFn">
              <mat-option *ngFor="let foodItem of filteredFoodItems | async" [value]="foodItem">
                {{ foodItem.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="filterControl.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="food-category" appearance="fill">
            <mat-label>Choose food category</mat-label>
            <mat-select ngModel [(ngModel)]="catItem" name="foodCategory" [required]="foodCategoryInput.touched" #foodCategoryInput="ngModel">
              <mat-option *ngFor="let catItem of foodCategories" [value]="catItem">
                {{ catItem }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="foodCategoryInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="measurement" appearance="fill">
            <mat-label>Serving, gr</mat-label>
            <input matInput ngModel type="number" name="serving" [value]="serving" [required]="servingInput.touched" [min]="minValue" #servingInput="ngModel">
            <mat-error *ngIf="servingInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="food-composition" appearance="fill">
            <mat-label>Fat, gr</mat-label>
            <input matInput ngModel type="number" name="fat" [value]="fat" [min]="minValue" #fatInput="ngModel">
          </mat-form-field>

          <mat-form-field class="food-composition" appearance="fill">
            <mat-label>Carbohydrate, gr</mat-label>
            <input matInput ngModel type="number" name="carbohydrate" [value]="carb" [min]="minValue" #fatInput="ngModel">
          </mat-form-field>

          <mat-form-field class="food-composition" appearance="fill">
            <mat-label>Protein, gr</mat-label>
            <input matInput ngModel type="number" name="protein" [value]="protein" [min]="minValue" #fatInput="ngModel">
          </mat-form-field>

          <div>
            <mat-form-field class="calories" appearance="fill">
              <mat-label>Calories</mat-label>
              <input matInput ngModel type="number" name="calories" [value]="calories" [required]="caloriesInput.touched" [min]="minValue" #caloriesInput="ngModel">
              <mat-error *ngIf="caloriesInput.hasError('required')">Field must not be empty.</mat-error>
            </mat-form-field>

            <mat-card class="mat-calories" appearance="fill">
              <mat-card-subtitle>Check calories</mat-card-subtitle>
              <mat-card-content>
                <h4>{{ f.value.fat * 9 + (f.value.carbohydrate + f.value.protein) * 4 }}</h4>
                <!-- <h4>{{ totalCalories ? totalCalories : f.value.fat * 9 + (f.value.carbohydrate + f.value.protein) * 4  }}</h4> -->
              </mat-card-content>
            </mat-card>
          </div>

          <mat-action-row>
              <button *ngIf="!toggle.checked" type="Submit" (click)="onSave(f)" mat-raised-button color="primary"
              [disabled]="nameFoodItemInput?.invalid || foodCategoryInput.invalid || servingInput.invalid || caloriesInput.invalid">Add!</button>
              <button *ngIf="toggle.checked" type="Submit" (click)="onSave(f)" mat-raised-button color="primary"
              [disabled]="filterControl?.invalid || foodCategoryInput.invalid || servingInput.invalid || caloriesInput.invalid">Delete!</button>
              <button *ngIf="toggle.checked" type="Submit" (click)="onSave(f)" mat-raised-button color="primary"
              [disabled]="filterControl?.invalid || foodCategoryInput.invalid || servingInput.invalid || caloriesInput.invalid">Save!</button>
          </mat-action-row>

          </mat-card-content>
        </mat-card>
      </form>
    </section>
