<mat-card class="activityLevel" fxLayoutAlign="center center" fxFlex.xs="100%">
  <form #f="ngForm" (ngSubmit)="onSave(f)">
    <mat-card-title fxLayoutAlign="center">List of daily activities</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">
      <mat-chip-list>
        <mat-chip color="warn">{{24 - total}}</mat-chip><strong> hours left to allocate</strong>
      </mat-chip-list>
    </mat-card-subtitle>
    <mat-card-content fxLayoutAlign="center">
      <mat-list>
        <mat-list-item *ngFor="let listActivity of listActivities | keyvalue; let i = index">
          <p>{{listActivity.key}}</p>
          <mat-form-field class="hours">
              <input matInput
                [ngModel]="0"
                type="number"
                name="hours_{{i}}"
                (change)="sumHours(f)"
                required
                [min]="minValue"
                [max]="maxValue"
                [errorStateMatcher]="errorMatcher"
                #hoursInput="ngModel">
              <mat-error *ngIf="errorMatcher">Keep hours between 0 and 24</mat-error>
            </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <button class="activityButton" mat-raised-button color="accent" type="submit" [disabled]="!f.valid || checkMinMax(f) || total !== 24"
      matBadge="{{24-total}}" matBadgeColor="warn">Save</button>
    <div>
      <button class="nextButton"
        mat-raised-button
        color="primary"
        (click)="tabSelect()"
        *ngIf="loadLinkToProfileCompleted">
        Review Profile <mat-icon>double_arrow</mat-icon>
      </button>
    </div>
  </form>
</mat-card>

