.activityLevel {
  padding: 10px;
}

.hours {
  display: block;
  width: 60px;
  padding: 0px;
  margin: 0 0 0 50px;
  text-align: center;
}

.header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.hours ~ .mat-form-field-flex {
  padding: 0px;
}

:host ::ng-deep .mat-list-item-content {
  justify-content: space-between;
}

.titles {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  top: 112px;
  background-color: white;
  z-index: 2;
}

.al_buttons {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 599px) {
  .titles {
    top: 104px;
  }
}
