<div fxLayoutAlign="center center">
  <h1>Anthropometric data</h1>
</div>
<div fxLayoutAlign="center center">
  <h2>Create or update your user profile</h2>
</div>

<div fxLayoutAlign="center center" fxLayout="column">
  <mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required >
        <mat-hint *ngIf="!name.touched || !name.dirty">Please enter a name.</mat-hint>
        <mat-error *ngIf="name.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="genderFormGroup">
    <form [formGroup]="genderFormGroup">
      <ng-template matStepLabel>Specify your gender</ng-template>
      <mat-radio-group matInput  formControlName="gender" required aria-label="Select an option">
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="male">Male</mat-radio-button>
        </mat-radio-group>
      <div>
        <button mat-raised-button matStepperPrevious fxLayoutGap="10px">Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ageFormGroup">
    <form [formGroup]="ageFormGroup">
      <ng-template matStepLabel>Fill out your age</ng-template>
      <mat-form-field>
        <input matInput type="number" [min]="minAgeValue" placeholder="Age" formControlName="age" required>
        <mat-hint *ngIf="!age.touched || !age.dirty">Please enter your age.</mat-hint>
        <mat-error *ngIf="age.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="age.hasError('min') || age.hasError('max')">Age limit not respected!</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="heightFormGroup">
    <form [formGroup]="heightFormGroup">
      <ng-template matStepLabel>Fill out your height</ng-template>
      <mat-form-field>
        <input matInput type="number" [min]="minHeightValue" placeholder="Height, cm" formControlName="height" required>
        <mat-hint *ngIf="!height.touched || !height.dirty">Please enter your height.</mat-hint>
        <mat-error *ngIf="height.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="weightFormGroup">
    <form [formGroup]="weightFormGroup">
      <ng-template matStepLabel>Fill out your weight</ng-template>
      <mat-form-field>
        <input matInput type="number" [min]="minWeightValue" placeholder="Weight, kg" formControlName="weight" required>
        <mat-hint *ngIf="!weight.touched || !weight.dirty">Please enter your weight.</mat-hint>
        <mat-error *ngIf="weight.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="weight.hasError('min') || weight.hasError('max')">Weight limit not respected!</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext (click)="calculate_BMI_BMR()">Next</button>
      </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <mat-card *ngIf="calcResults">
        <mat-card-title>Results</mat-card-title>
        <mat-chip-list fxLayout="column">
          <ul>
            <li>
              <mat-card-content>Body Mass Index (BMI) is <mat-chip>{{bmi}}</mat-chip>
              </mat-card-content>
            </li>
            <li>
              <mat-card-content>Basal Metabolic Rate (BMR) is <mat-chip>{{bmr}}</mat-chip>
              </mat-card-content>
            </li>
          </ul>
        </mat-chip-list>
      </mat-card>
      <div>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="accent" matStepperNext type="submit" (click)="onSave()">Save</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
