<mat-card-content fxLayoutAlign="center center" fxLayout="column">
  <mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field class="input_box">
        <input matInput placeholder="Name" formControlName="name" required >
        <mat-hint *ngIf="!name.touched || !name.dirty">Please enter a name.</mat-hint>
        <mat-error *ngIf="name.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="genderFormGroup">
    <form [formGroup]="genderFormGroup">
      <ng-template matStepLabel>Specify your gender</ng-template>
      <mat-radio-group matInput  formControlName="gender" required aria-label="Select an option">
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="male">Male</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-raised-button matStepperPrevious fxLayoutGap="10px">Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ageFormGroup">
    <form [formGroup]="ageFormGroup">
      <ng-template matStepLabel>Fill out your age</ng-template>
      <mat-form-field class="input_box">
        <input matInput type="number" [min]="minAgeValue" placeholder="Age" formControlName="age" required>
        <mat-hint *ngIf="!age.touched || !age.dirty">Please enter your age.</mat-hint>
        <mat-error *ngIf="age.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="age.hasError('min') || age.hasError('max')">Age limit not respected!</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="heightFormGroup">
    <form [formGroup]="heightFormGroup">
      <ng-template matStepLabel>Fill out your height</ng-template>
      <mat-form-field *ngIf="units === 'metric'" class="input_box">
        <input matInput type="number" [min]="minHeightValue" placeholder="Height, cm" formControlName="heightCm" required>
        <mat-hint *ngIf="!heightCm?.touched || !heightCm?.dirty">Please enter your height.</mat-hint>
        <mat-error *ngIf="heightCm?.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="units === 'imperial'" class="input_box">
        <input matInput type="number" [min]="minHeightValue" placeholder="Height, ft" formControlName="heightFt" required>
        <mat-hint *ngIf="!heightFt?.touched || !heightFt?.dirty">Please enter your height.</mat-hint>
        <mat-error *ngIf="heightFt?.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="units === 'imperial'">
        <input matInput type="number" [min]="minHeightValue" placeholder="Height, in" formControlName="heightIn" required>
        <mat-hint *ngIf="!heightIn?.touched || !heightIn?.dirty">Please enter your height.</mat-hint>
        <mat-error *ngIf="heightIn?.hasError('required')">Field must not be empty.</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="weightFormGroup">
    <form [formGroup]="weightFormGroup">
      <ng-template matStepLabel>Fill out your weight</ng-template>
      <mat-form-field *ngIf="units === 'metric'" class="input_box">
        <input matInput type="number" [min]="minWeightValue" placeholder="Weight, kg" formControlName="weightKg" required>
        <mat-hint *ngIf="!weightKg.touched || !weightKg.dirty">Please enter your weight.</mat-hint>
        <mat-error *ngIf="weightKg.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="weightKg.hasError('min') || weightKg.hasError('max')">Weight limit not respected!</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="units === 'imperial'" class="input_box">
        <input matInput type="number" [min]="minWeightValue" placeholder="Weight, lb" formControlName="weightLb" required>
        <mat-hint *ngIf="!weightLb.touched || !weightLb.dirty">Please enter your weight.</mat-hint>
        <mat-error *ngIf="weightLb.hasError('required')">Field must not be empty.</mat-error>
        <mat-error *ngIf="weightLb.hasError('min') || weightLb.hasError('max')">Weight limit not respected!</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext (click)="calculate_BMI_BMR()">Next</button>
      </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Submit</ng-template>
      <div class="al_buttons">
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="accent" matStepperNext type="submit" (click)="onSave()">Save</button>
        <button class="nextButton"
          mat-raised-button
          color="primary"
          (click)="tabSelect()"
          *ngIf="loadLinkToActivityLevel">
          Activity Level <mat-icon>double_arrow</mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</mat-card-content>
