mat-footer-row, mat-header-cell {
  font-weight: bold;
  font-size: large;
}

.clickable:hover{
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.349);
}

.clickable, mat-list-item {
  background-color: rgba(211, 211, 211, 0.349);
}

/* grouper in the Final Log */
:host ::ng-deep .mat-list-item {
  max-width: 25%;
}

@media all and (max-width: 599px) {

  :host ::ng-deep .mat-list-item {
    max-width: 60%;
  }

  :host ::ng-deep .mat-cell {
    padding-left: 5px;
  }

  :host ::ng-deep .mat-cell:last-of-type, :host ::ng-deep .mat-cell:first-of-type {
    padding-left: 0;
  }

  :host ::ng-deep .mat-header-cell:first-of-type, :host ::ng-deep .mat-cell:first-of-type {
    padding-left: 4px;
  }

  :host ::ng-deep .mat-header-cell:last-of-type {
    padding-right: 2px;
  }

  :host ::ng-deep .mat-cell:last-of-type {
    padding-right: 2px;
  }

  :host ::ng-deep .mat-header-cell, :host ::ng-deep .mat-cell {
    font-size: 11px;
  }

}
