<!-- <div fxLayoutAlign="center center">
  <h3>Manage your user profile</h3>
</div> -->

<mat-card class="activityLevel" fxLayoutAlign="center center" fxLayout="column" fxFlex.xs="100%">
  <div class="titles">
    <mat-card-title fxLayoutAlign="center">Units</mat-card-title>
  </div>
  <mat-card-content fxLayoutAlign="center" fxLayout="column">
    <form [formGroup]="unitsFormGroup" class="form_units">
      <mat-radio-group matInput  formControlName="units" required aria-label="Select an option">
        <mat-radio-button value="metric">Metric</mat-radio-button>
        <mat-radio-button value="imperial">Imperial</mat-radio-button>
      </mat-radio-group>
    </form>
    <button class="nextButton"
      mat-raised-button
      color="primary"
      (click)="tabSelect()">
      User Data <mat-icon>double_arrow</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
