<section class="new-food-item" fxLayout fxLayoutAlign="center">
  <form #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-form-field fxLayoutAlign="center">
        <input matInput placeholder="Date of meal" [matDatepicker]="picker" [ngModel]="today" name="date"
          required [max]="maxDate" (dateChange)="foodService.filterDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="toggle_options" fxLayoutAlign="center">
        <mat-card-subtitle [ngClass]="{'emphasis' : !toggle.checked}" fxFlexAlign="end">Add from USDA database</mat-card-subtitle>
        <mat-slide-toggle id="toggle" fxFlexAlign="baseline" #toggle></mat-slide-toggle>
        <mat-card-subtitle [ngClass]="{'emphasis' : toggle.checked}" fxFlexAlign="end">Add from app database</mat-card-subtitle>
      </div>

      <mat-card-content>

        <div *ngIf="!toggle.checked">

          <mat-form-field class="food-name">
            <mat-label>Search for keywords...</mat-label>
            <input matInput ngModel type="text" class="nameSearch" name="nameSearch" [required]="nameSearch.touched" #nameSearch="ngModel">
            <mat-error *ngIf="nameSearch.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <button class="usda_button" mat-raised-button color="primary"
            [disabled]="nameSearch.value === ''"
            (click)="onSearch(nameSearch.value, branded, requireAllWords)"><mat-icon>search</mat-icon>Search...
          </button>
          <div class="usda_checkboxes">
            <mat-checkbox class="usda_checkbox" name="branded" [(ngModel)]="branded">Include branded items</mat-checkbox>
            <mat-checkbox class="usda_checkbox" name="requireAllWords" [(ngModel)]="requireAllWords">Require all words</mat-checkbox>
          </div>
          <mat-card *ngIf="usdaFoodItemDetailPaneOpen" class="usdaFoodItemPane">
            <mat-card-content>
            <mat-button-toggle-group name="unit" #toggleMtImpGroupUSDA="matButtonToggleGroup" class="metric_imperial_btn_toggle">
              <mat-button-toggle class="btn_toggle_mt_imp" value="metric" [checked]="units === 'metric'">gr</mat-button-toggle>
              <mat-button-toggle class="btn_toggle_mt_imp" value="imperial" [checked]="units === 'imperial'">oz</mat-button-toggle>
            </mat-button-toggle-group>
              <h3 class="usda_header">{{ usdaPickedFoodItem.name }}</h3>
              <mat-form-field appearance="outline" class="usda_portionSize">
                <mat-label>Portion size</mat-label>
                <input matInput ngModel type="number" name="servingUSDA" #servingUSDA="ngModel" class="usda_serving">
              </mat-form-field>
            <div *ngIf="toggleMtImpGroupUSDA.value === 'metric'">
              <mat-chip-list class="usda_foodItemData">
                <mat-chip>Calories: {{ (usdaPickedFoodItem.caloriesIn / 100 * servingUSDA.value) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Protein: {{ (usdaPickedFoodItem.protein / 100 * servingUSDA.value) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Fat: {{ (usdaPickedFoodItem.fat / 100 * servingUSDA.value) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Carb: {{ (usdaPickedFoodItem.carb / 100 * servingUSDA.value) | number: '1.0-0' }}</mat-chip>
              </mat-chip-list>
            </div>
            <div *ngIf="toggleMtImpGroupUSDA.value === 'imperial'">
              <mat-chip-list class="usda_foodItemData">
                <mat-chip>Calories: {{ (usdaPickedFoodItem.caloriesIn / 100 * servingUSDA.value * 28.3495) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Protein: {{ (usdaPickedFoodItem.protein / 100 * servingUSDA.value * 28.3495) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Fat: {{ (usdaPickedFoodItem.fat / 100 * servingUSDA.value * 28.3495) | number: '1.0-0' }}</mat-chip>
                <mat-chip>Carb: {{ (usdaPickedFoodItem.carb / 100 * servingUSDA.value * 28.3495) | number: '1.0-0' }}</mat-chip>
              </mat-chip-list>
            </div>
              <mat-action-row class="usda_foodItemButtons">
                <button type="Submit" (click)="saveCustomFood(usdaPickedFoodItem)"
                  matTooltip="Save this food item to your personal available food items database"
                  mat-raised-button color="primary" color="accent">Save item to app database</button>
                <button type="Submit" (click)="foodService.saveFoodItem(f.value.date, usdaPickedFoodItem.name, toggleMtImpGroupUSDA.value === 'metric' ? servingUSDA.value : servingUSDA.value * 28.3495, 'usda', usdaPickedFoodItem)"
                  matTooltip="Save eaten food item"
                  mat-raised-button color="primary" [disabled]="servingUSDA.untouched" color="primary">Save food</button>
              </mat-action-row>
            </mat-card-content>
          </mat-card>

          <mat-spinner style="margin: 0 auto" *ngIf="isLoadingFoodItem"></mat-spinner>
          <mat-spinner style="margin: 0 auto" *ngIf="isLoadingFoodItems"></mat-spinner>
          <mat-list role="list" dense class="usda_results" *ngIf="!isLoadingFoodItems">
            <p class="usda_citation">U.S. Department of Agriculture, Agricultural Research Service. FoodData Central, 2019. fdc.nal.usda.gov.</p>
            <div class="usda_search_results" *ngIf="usdaSearchResults">
              <h3 matSubheader class="usda_subheader">Search results for:<span>&nbsp;{{ usdaSearch || '.....' }}</span>. Found:<span>&nbsp;{{ totalHits || '.....' }}&nbsp;</span>items</h3>
              <h3 matSubheader class="usda_subheader">Showing page &nbsp;
              <mat-form-field style="width: 10%;">
                <select ngModel matNativeControl (change)="onSearch(nameSearch.value, branded, requireAllWords, $event.target.value)" [(ngModel)]="defaultPage" name="page" #page>
                  <option *ngFor="let page of [].constructor(totalPages); let i = index" [value]="i + 1">
                    {{ i + 1 }}
                  </option>
                </select>
              </mat-form-field>
              &nbsp; of &nbsp; {{ totalPages}}.</h3>
              <mat-list-item role="listitem" *ngFor="let foodItem of usdaFoodItems; let i = index">
                <mat-radio-button (click)="onPick(foodItem.fdcId)">
                    {{ i + 1 + '. ' + foodItem.description }}
                </mat-radio-button>
              </mat-list-item>
            </div>
          </mat-list>

        </div>

        <mat-accordion *ngIf="toggle.checked">

          <div *ngFor="let category of foodCategories">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>{{ category.toUpperCase() }}</mat-panel-title>
                <mat-panel-description>Input food item and serving size (gr/oz)</mat-panel-description>
              </mat-expansion-panel-header>

                <mat-form-field class="food-item" appearance="fill">
                  <mat-label>Choose food item</mat-label>
                  <mat-select ngModel name="foodName_{{category}}" [required]="foodName.touched" #foodName="ngModel">
                    <mat-option *ngFor="let food_item of foodCategoriesObject[category]" [value]="food_item.name">
                      {{ food_item.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="foodName.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>

                <mat-form-field class="measurement" appearance="fill">
                  <mat-label>Serving</mat-label>
                  <input matInput type="number" name="serving_{{category}}" [min]="minValue" [required]="serving.touched" ngModel #serving="ngModel">
                  <mat-error *ngIf="serving.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>
                <mat-action-row class="category_actions">
                  <mat-button-toggle-group name="unit" #toggleMtImpGroupDB="matButtonToggleGroup" class="metric_imperial_btn_toggle">
                    <mat-button-toggle class="btn_toggle_mt_imp" value="metric" [checked]="units === 'metric'">gr</mat-button-toggle>
                    <mat-button-toggle class="btn_toggle_mt_imp" value="imperial" [checked]="units === 'imperial'">oz</mat-button-toggle>
                  </mat-button-toggle-group>
                  <button type="Submit"
                  (click)="foodService.saveFoodItem(f.value.date, foodName.value, toggleMtImpGroupDB.value === 'metric' ? serving.value : serving.value * 28.3495 , category)"
                  mat-raised-button color="primary"
                  [disabled]="foodName.invalid || foodName.untouched || serving.untouched || serving.invalid">Save!</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-divider [inset]="true"></mat-divider>
          </div>

        </mat-accordion>
      </mat-card-content>
    </mat-card>

  </form>

</section>

