.new-food-item {
  padding: 10px;
}

.food-name {
  width: 70%;
  display: inline-block;
}

.food-item {
  display: block;
}

.measurement {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

mat-expansion-panel {
  margin: 10px 0;
}

mat-expansion-panel-header {
  padding: 0 15px 0 8px;
  height: 60px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 24px;
}

/* :host ::ng-deep .mat-card-content {
  display: block;
} */

mat-card-content {
  display: block;
  padding: 0 10px;
  /* display: flex;
  justify-content: center; */
}

.emphasis {
  font: bold;
  font-size: 16px;
  color: black;
  text-decoration-line: underline;
}

.usda_citation {
  font-size: 9px;
  margin: 0;
}

.usda_results {
  background-color: whitesmoke;
  margin-top: 10px;
  flex-grow: 1;
  overflow: auto;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}

.usda_button {
  margin-left: 10px;
}

.usda_checkboxes {
  justify-content: space-around;
  display: flex;
  padding-bottom: 10px;
}

:host ::ng-deep h3 .usda_subheader {
  font-size: 14px;
  padding: 4px 16px;
  height: 20px;
}

:host ::ng-deep .usda_subheader > span {
  font-weight: bolder;
}

.usda_portionSize {
  width: 30%;
  padding-left: 30px;
}

:host ::ng-deep .mat-form-field-infix {
  padding: 5px;
}

.usdaFoodItemPane {
  background-color: mintcream
}

