.new-food-item {
  padding: 10px;
}

.food-name {
  width: 90%;
  display: block;
}

.food-item {
  display: block;
}

.measurement {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

mat-expansion-panel {
  margin: 10px 0;
}

mat-expansion-panel-header {
  padding: 0 15px 0 8px;
  height: 60px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 24px;
}

.emphasis {
  font: bold;
  font-size: 16px;
  color: black;
  text-decoration-line: underline;
}

.usda_citation {
  font-size: 9px;
  margin: 0;
}
