.new-food-item {
  padding: 10px;
}

.food-name {
  width: 70%;
  display: inline-block;
}

.food-item {
  display: block;
}

.measurement {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

mat-expansion-panel {
  margin: 10px 0;
}

mat-expansion-panel-header {
  padding: 0 15px 0 8px;
  height: 60px;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0 24px;
}

.emphasis {
  font: bold;
  font-size: 16px;
  color: black;
  text-decoration-line: underline;
}

.usda_citation {
  font-size: 9px;
  margin: 0 auto;
}

.usda_results {
  background-color: whitesmoke;
  margin-top: 10px;
  flex-grow: 1;
  overflow: auto;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}

.usda_button {
  margin-left: 10px;
}

.usda_checkboxes {
  justify-content: space-around;
  display: flex;
  padding-bottom: 10px;
}

.usda_header {
  text-align: center;
  margin-top: 5px;
}

:host ::ng-deep .usda_subheader {
  font-size: 14px;
  padding: 4px 16px;
  height: 20px;
}

:host ::ng-deep .usda_subheader > span {
  font-weight: bolder;
}

.usda_portionSize {
  width: 30%;
  /* padding-left: 30px; */
  text-align: center;
  height: 40px;
  margin: 0 auto;
  display: block;
}

:host ::ng-deep .mat-form-field-infix {
  padding: 7px;
  border: 1px;
}

:host ::ng-deep .mat-form-field-outline {
  background: white;
}

.usdaFoodItemPane {
  background-color: powderblue
}

:host ::ng-deep .usda_foodItemData {
  justify-content: space-evenly;
  padding-bottom: 15px;
  display: flex;
}

:host ::ng-deep .usda_foodItemButtons {
  justify-content: space-between;
  padding: 20px 0 10px;
  display: flex;
}

#toggle {
  padding: 0 30px 10px;
}

.usda_servingLb {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.metric_imperial_btn_toggle {
  width: 80px;
  height: 30px;
}

.btn_toggle_mt_imp {
  width: 50%;
}

:host ::ng-deep .mat-button-toggle-label-content {
  font-size: 20px;
  font-weight: bold;
  line-height: normal !important;
  padding: 0 10px !important;
}

@media all and (max-width: 599px) {
  .usda_button {
    margin-left: 30px;
    padding: 0 4px;
  }

  .food-name {
    width: 60%;
    display: inline-block;
  }

  #toggle {
    padding: 10px;
  }

  :host ::ng-deep .mat-radio-label {
    white-space: normal;
  }

  .mat-card {
    padding: 16px 4px;
  }

  :host ::ng-deep .mat-checkbox-label {
    font-size: 12px;
  }

  :host ::ng-deep .nameSearch {
    font-size: 16px;
  }

}

