<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <mat-nav-list>
          <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
            <mat-icon>face</mat-icon>
            <span class="nav-caption">Signup</span>
          </a>
          <a mat-list-item routerLink="/login" (click)="sidenav.close()">
            <mat-icon>input</mat-icon>
            <span class="nav-caption">Login</span>
          </a>
          <a mat-list-item routerLink="/food-intake" (click)="sidenav.close()">
            <mat-icon>restaurant</mat-icon>
            <span class="nav-caption">Energy+</span>
          </a>
          <a mat-list-item routerLink="/energy-expenditure" (click)="sidenav.close()">
            <mat-icon>fitness_center</mat-icon>
            <span class="nav-caption">Energy-</span>
          </a>
          <a mat-list-item routerLink="/balance" (click)="sidenav.close()">
            <mat-icon>list_alt</mat-icon>
            <span class="nav-caption">Balance</span>
          </a>
          <mat-list-item>
            <button mat-icon-button  (click)="sidenav.close()">
              <mat-icon>eject</mat-icon>
              <span class="nav-caption">Logout</span>
            </button>
          </mat-list-item>
      </mat-nav-list>
      <!-- <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list> -->
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div><a routerLink="/">LOGO</a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLinkup="/signup">Sign</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/food-intake">Energy+</a></li>
            <li><a routerLink="/energy-expenditure">Energy-</a></li>
            <li><a routerLink="/balance">Balance</a></li>
          </ul>
        </div>
      </mat-toolbar>
      <!-- <app-header (sidenavToggle)="sidenav.toggle()"></app-header> -->
      <main>
        <router-outlet></router-outlet>
      </main>
      <!-- <button (click)="sidenav.toggle()">Show Sidenav</button> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
