.new-training {
  padding: 10px;
}

.exercise {
  display: block;
}

.measurement {
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

mat-expansion-panel {
  margin: 10px 0;
}

mat-expansion-panel-header {
  padding: 0 15px 0 8px;
  height: 60px;
}

:host ::ng-deep .mat-slider-thumb-label-text {
  font-size: 8px;
  text-align: center;
  white-space: pre-line;
  font-family: 'Lato', sans-serif;
}

:host ::ng-deep .mat-expansion-panel-content {
  font: inherit;
}

.slider {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
  width: 80%;
  margin: 0 auto;
}
