<section class="new-training" fxLayout fxLayoutAlign="center">
  <!-- <form (ngSubmit)="onEnter(f)" #f="ngForm"> -->
  <form #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="500px">
      <mat-form-field fxLayoutAlign="center">
        <input matInput placeholder="Date of exercise" [matDatepicker]="picker" [ngModel]="today" name="date"
          required [max]="maxDate" (dateChange)="trainingService.filterDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-card-title fxLayoutAlign="center">Completed exercise</mat-card-title>
      <mat-card-content fxLayoutAlign="center">

      <mat-accordion>
        <!-- 1st panel -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Time-based exercises
              </mat-panel-title>
              <mat-panel-description>
                Input exercise and time in minutes
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-form-field class="exercise" appearance="fill">
                <mat-label>Choose Exercise</mat-label>
                <mat-select ngModel name="exerciseTime" [required]="exerciseTimeInput.touched" #exerciseTimeInput="ngModel">
                  <mat-option *ngFor="let exercise of exercisesTime" [value]="exercise.id">
                    {{ exercise.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="exerciseTimeInput.hasError('required')">Field must not be empty.</mat-error>
              </mat-form-field>

              <mat-form-field class="measurement" appearance="fill">
                <mat-label>Time, min</mat-label>
                <input matInput type="number" name="time" [required]="timeInput.touched" [min]="minValue" ngModel #timeInput="ngModel">
                <mat-error *ngIf="timeInput.hasError('required')">Field must not be empty.</mat-error>
              </mat-form-field>
              <mat-action-row>
                  <button type="Submit" (click)="trainingService.saveExercise(f.value.date, f.value.exerciseTime, f.value.time, userWeight, 'exTime')" mat-raised-button color="primary"
                  [disabled]="exerciseTimeInput.invalid || exerciseTimeInput.untouched || timeInput.untouched || timeInput.invalid">Save!</button>
              </mat-action-row>
          </mat-expansion-panel>

          <mat-divider [inset]="true"></mat-divider>

         <!-- 2nd panel -->
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Quantity-based exercises
            </mat-panel-title>
            <mat-panel-description>
              Input exercise and quantity
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="exercise" appearance="fill">
            <mat-label>Choose Exercise</mat-label>
            <mat-select ngModel name="exerciseQty" [required]="exerciseQtyInput.touched" #exerciseQtyInput="ngModel">
              <mat-option *ngFor="let exercise of exercisesQty" [value]="exercise.id">
                {{ exercise.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="exerciseQtyInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="measurement" appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" name="quantity" [required]="quantityInput.touched" [min]="minValue" ngModel #quantityInput="ngModel">
            <mat-error *ngIf="quantityInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-action-row>
              <button type="Submit" (click)="trainingService.saveExercise(f.value.date, f.value.exerciseQty, f.value.quantity, userWeight, 'exQty')" mat-raised-button color="primary"
              [disabled]="exerciseQtyInput.invalid || exerciseQtyInput.untouched || quantityInput.untouched ||  quantityInput.invalid">Save!</button>
          </mat-action-row>

        </mat-expansion-panel>

        <mat-divider [inset]="true"></mat-divider>

          <!-- 3rd panel -->
        <mat-expansion-panel (opened)="panelOpenState = true"
                                  (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Measured-output exercises
            </mat-panel-title>
            <mat-panel-description>
              Input exercise and calories
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field class="exercise" appearance="fill">
            <mat-label>Choose Exercise</mat-label>
            <mat-select ngModel name="exerciseCal" [required]="exerciseCalsInput.touched" #exerciseCalsInput="ngModel">
              <mat-option *ngFor="let exercise of exercisesCal" [value]="exercise.id">
                {{ exercise.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="exerciseCalsInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>

          <mat-form-field class="measurement" appearance="fill">
            <mat-label>Calories</mat-label>
            <input matInput type="number" name="calories" [required]="caloriesInput.touched" [min]="minValue" ngModel #caloriesInput="ngModel">
            <mat-error *ngIf="caloriesInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-action-row>
              <button type="Submit" (click)="trainingService.saveExercise(f.value.date, f.value.exerciseCal, f.value.calories, userWeight, 'exCal')" mat-raised-button color="primary"
              [disabled]="exerciseCalsInput.invalid || exerciseCalsInput.untouched || caloriesInput.untouched ||  caloriesInput.invalid">Save!</button>
          </mat-action-row>

        </mat-expansion-panel>

      </mat-accordion>

      </mat-card-content>
    </mat-card>
  </form>
</section>
