.welcome {
  text-align: center;
  height: calc(100vh - 120px);
}

.profile-link {
  background-color: #009688;
}

.hidden {
  display: none;
}

.mat-icon {
  vertical-align: middle;
}

.mat-card-actions > .deleteUserBtn {
  display: block;
  margin: 20px auto 0;
}

.contact_info {
  display: flex;
  justify-content: space-evenly;
}

.contact_info > p {
  font-size: 13px;
}

mat-icon {
  vertical-align: middle;
}

.homepage_icon {
  width: 20px;
  vertical-align: sub;
  padding-right: 5px;
}

.ic4 {
  vertical-align: baseline;
}

.app_built {
  padding-top: 20px;
  line-height: 1.5em;
}

.app_built p:hover img, .contact_info p:hover mat-icon {
  animation: rotate360 500ms;
}

.app_built p:hover {
  animation: tremble 500ms ease-out forwards;
}

@keyframes rotate360 {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes tremble {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}
