<div class="welcome" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <h1>Daily Energy Log</h1>
    <h3>will help you to</h3>
    <p>- Maintain a healthy weight.</p>
    <p>- Manage your food energy intake.</p>
    <p>- Keep track of your exercise routine.</p>
  </section>
  <!-- <div [ngClass]="{'hidden': gotActivityLevel}"> -->
    <mat-card class="profile-link" *ngIf="!profileFinished">
      <mat-card-content>
        <mat-panel-title><h4>You are logged but your profile needs completing</h4></mat-panel-title>
        <mat-card-actions>
          <a mat-raised-button
          routerLink="/profile">Review profile <mat-icon>double_arrow</mat-icon></a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <!-- </div> -->
    <hr>
    <hr>
    <br>
    <h3>Contact:</h3>
    <p><mat-icon>email</mat-icon> cgavras@yahoo.ca</p>
    <p><mat-icon>account_box</mat-icon> linkedin.com/in/constantinefleshtor</p>
  </div>
