<div class="welcome" fxLayout="column" fxLayoutAlign="start center">
  <section>
    <h1>Daily Energy Log</h1>
    <h3>will help you to</h3>
    <p>- Maintain a healthy weight.</p>
    <p>- Manage your food energy intake.</p>
    <p>- Keep track of your exercise routine.</p>
  </section>
  <section>
    <p>This app was built with <br><br><strong>Angular 8</strong> using <br><strong>Material Design</strong> components,
      <br><strong>Firebase Firestore</strong> storage and <br><strong>USDA's food database API</strong>.</p>
  </section>
  <!-- <div [ngClass]="{'hidden': gotActivityLevel}"> -->
  <mat-card class="profile-link" *ngIf="!profileFinished">
    <mat-card-content>
      <mat-panel-title><h4>You are logged but your profile needs completing</h4></mat-panel-title>
      <mat-card-actions>
        <a mat-raised-button
        routerLink="/profile">Review User profile <mat-icon>double_arrow</mat-icon></a>
        <br>
        <button mat-raised-button class="deleteUserBtn" color="warn" (click)="profileService.deleteUserAccount()">
          Delete User Login
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<div class="contact_info">
  <p><mat-icon>email</mat-icon>&nbsp;&nbsp;cgavras@yahoo.ca</p>
  <p><mat-icon>account_box</mat-icon>&nbsp;&nbsp;<a href="linkedin.com/in/constantinefleshtor" target="_blank">LinkedIn</a></p>
</div>
