<section fxLayoutAlign="center center" fxLayout="column">
  <ul>
    <li>
      <p>The exercises in the app database are divided into <span>Time-based, Quantity-based and Measured-output</span></p>
    </li>
    <li>
      <p><span>Time-based exercises'</span> energy spend depends on the duration of the exercise.</p>
    </li>
    <li>
      <p><span>Quantity-based exercises'</span> energy spend takes in account repetitions performed. Additional weight can be factored in. </p>
    </li>
    <li>
      <p><span>Measured-output exercises'</span> energy spend is supplied directly from the machine or tool used: exercise bike, elliptical, treadmill, pedometer etc.</p>
    </li>
    <li>
      <p>Inserted exercises will appear in the <span>table</span> below input section. Changing the <span>date</span> allows to see, add or delete exercises in the past.</p>
    </li>
    <li>
      <p>The <span>log page</span> displays past exercises grouped by date. It's possible to toggle the date detail, filter by name and show/hide columns.</p>
    </li>
  </ul>
</section>
