<section fxLayoutAlign="center center" fxLayout="column">
  <ul>
    <li>
      <p>Meals can be added through <span>USDA database or app's own database</span>.</p>
    </li>
    <li>
      <p>A new user starts with <span>an empty app database</span> which can be populated by copying USDA items or adding new items manually.</p>
    </li>
    <li>
      <p><span>Manage food items page</span> allows to add, edit or delete food items from the <span>app's database</span>.</p>
    </li>
    <li>
      <p>Food portions can be added in grams or ounces.</p>
    </li>
    <li>
      <p>Inserted meals will appear in the <span>table</span> below input section. Changing the <span>date</span> allows to see, add or delete meals in the past.</p>
    </li>
    <li>
      <p>The <span>log page</span> displays past meals grouped by date. It's possible to toggle the date detail, filter by name and show/hide columns.</p>
    </li>
  </ul>
</section>
