  <mat-card  fxLayoutAlign="center center" fxLayout="column" *ngIf="dataLoaded">
    <!-- <mat-card-title></mat-card-title> -->
    <mat-chip-list fxLayout="column">
      <ul class="profile_ul">
        <li>
          <mat-card-content>User name:
            <mat-chip>{{ userData?.name || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Age:
            <mat-chip>{{userData?.age || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Gender:
            <mat-chip>{{userData?.gender || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Height:
            <mat-chip>{{userData?.height || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Weight:
            <mat-chip>{{userData?.weight || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Body Mass Index (BMI):
            <mat-chip>{{userData?.bmi || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Basal Metabolic Rate (BMR):
            <mat-chip>{{userData?.bmr || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>Activity Level:
            <mat-chip>{{userData?.activityLevel || 'N/A' }}</mat-chip>
          </mat-card-content>
        </li>
      </ul>
    </mat-chip-list>
    <div>
        <button *ngIf="userData" mat-raised-button color="warn" (click)="deleteUser(userData)">Delete user</button>
        <button class="nextButton"
          mat-raised-button
          color="primary"
          (click)="tabSelect()">
          <mat-icon>reply</mat-icon>
           Update User
        </button>
      </div>
  </mat-card>
