:host ::ng-deep .mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host ::ng-deep .profile_ul {
  padding: 0;
}

:host ::ng-deep .mat-card-content > .mat-chip {
  margin: 4px 0 4px 50px;
}

.al_buttons {
  margin: 0 auto;
}

.al_buttons > button {
  margin: 10px;
}

@media (max-width: 599px) {
  mat-card {
    padding: 0 10px 0 30px;
  }
}
